.card-text {
  max-height: 100px;
  overflow: hidden;
}

.btn-cars-eventos {
  background-color: #614ea6;
  color: #fff;
}
.card-body {
  height: 200px;
  flex-direction: column;
  justify-content: space-between;
}

.btn-card-eventos:hover {
  background-color: #f21667;
  color: #fff;
}

.card-rodape {
  color: #614ea6;
}

.img-cartao-img {
  height: 200px;
  width: 100%;
}

.card-total {
  width: 100%;
}
