.card {
  max-width: 350px;
  width: 100%;
  height: 400px;
}

.card-imagem {
  height: 50%;
  overflow: hidden;
  width: 100%;
}

.card-img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.btn-card-eventos {
  background-color: #614ea6;
  height: 100%;
}

.btn-card-eventos {
  background-color: #614ea6;
  color: white;
}

.btn-card-eventos:hover {
  background-color: #f21667;
  color: #fff;
}

.card-body {
  height: 35%;
}

.card-footer {
  height: 15%;
}

.icon {
  color: #614ea6;
}
